# Gradle files
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

# Local configuration file (sdk path, etc)
local.properties
secrets.properties

# Android Studio
*.iml
.idea/
.navigation/
captures/
.output/

# Keystore files
*.jks
*.keystore

# External native build folder generated in Android Studio 2.2 and later
.externalNativeBuild
.cxx/

# Google Services (e.g. APIs or Firebase)
google-services.json

# OS-specific files
.DS_Store
Thumbs.db

# Log files
*.log

# APK files (should be released via GitHub Releases, not in repo)
*.apk
*.ap_
*.aab

# lint
lint/intermediates/
lint/generated/
lint/outputs/
lint/tmp/

# Kotlin
.kotlin/
